doctype html
html
  head
    //- title= title
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', ref='stylesheet')
    link(href='/css/layout.css', rel='stylesheet')
    block css
  body
    div.header
      div(class="navbar navbar-inverse navbar-fixed-top" role="navigation")
        div(class="container-fluid")
          div(class="navbar-header")
            button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
              span(class="sr-only") Toggle navigation
              span(class="icon-bar")
              span(class="icon-bar")
              span(class="icon-bar")
            a(class="navbar-brand" href="#") SellMore Manager
          div(class="navbar-collapse collapse")
            ul(class="nav navbar-nav navbar-right")
              li: a(href="#") Help
    div.container-fluid
      div.row
        div.col-sm-3.col-md-2.sidebar
          block sidebar
        div.col-sm-8.col-sm-offset-4.col-md-9.col-md-offset-3.content
          block content

    div.footer

    script(src='/js/jquery-1.11.0.min.js')
    script(src='/js/bootstrap.min.js')
    block js
